<!-- Add the class "mobile-nav-active" dynamically based on isActive property -->
<i
  class="bi bi-list mobile-nav-toggle d-lg-none"
  (click)="toggleMobileNav()"
></i>

<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">
  <nav id="navbar" #navbar class="navbar nav-menu">
    <ul>
      <li>
        <a
          [routerLink]="'/home'"
          routerLinkActive="active"
          (click)="setActive('home')"
        >
          <i class="bx bx-home"></i> <span>Home</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/about'"
          routerLinkActive="active"
          (click)="setActive('about')"
        >
          <i class="bx bx-user"></i> <span>About</span>
        </a>
      </li>
      <!-- Add other navigation items with routerLink and routerLinkActive -->
    </ul>
  </nav>
  <!-- .nav-menu -->
</header>
<!-- End Header -->
