<footer class="bg-light text-dark py-4 mt-auto">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center"
  >
    <div class="mb-3 mb-md-0">
      <small
        >&copy; {{ currentYear }} Mürüvvet e.V. Alle Rechte vorbehalten.</small
      >
    </div>
    <div>
      <a
        [routerLink]="'/impressum'"
        class="text-dark me-3 text-decoration-none"
      >
        <i class="bx bx-info-circle"></i> Impressum
      </a>
      <a
        href="mailto:muruvvet.goettingen@gmail.com"
        class="text-dark me-3 text-decoration-none"
      >
        <i class="bx bx-envelope"></i> Email
      </a>
      <a
        href="https://www.facebook.com/people/M%C3%BCr%C3%BCvvet-eV-die-offene-T%C3%BCr/61574257831671/"
        target="_blank"
        rel="noopener"
        class="text-dark me-3"
        aria-label="Facebook"
      >
        <i class="bx bxl-facebook-circle"></i>
      </a>
      <a
        href="https://x.com/muruvvetgoe"
        target="_blank"
        rel="noopener"
        class="text-dark me-3"
        aria-label="Twitter"
      >
        <i class="bx bxl-twitter"></i>
      </a>
      <a
        href="https://www.youtube.com/@muruvvet-dieoffeneturevgotting"
        target="_blank"
        rel="noopener"
        class="text-dark"
        aria-label="YouTube"
      >
        <i class="bx bxl-youtube"></i>
      </a>
    </div>
  </div>
</footer>
