<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Aziz Kale</h1>
    <p>
      <span
        class="typed"
        [attr.data-typed-items]="typedItems.join(', ')"
      ></span>
    </p>
    <div class="social-links">
      <a href="https://www.xing.com/profile/aziz_kale" class="xing icon-large"
        ><i class="bx bxl-xing"></i
      ></a>
      <a href="https://azizkale.medium.com/" class="medium icon-large"
        ><i class="bx bxl-medium"></i
      ></a>
      <a href="http://linkedin.com/in/azizkale" class="linkedin icon-large"
        ><i class="bx bxl-linkedin"></i
      ></a>
      <a
        href="https://stackoverflow.com/users/13475031/azizkale"
        class="stack-overflow icon-large"
        ><i class="bx bxl-stack-overflow"></i
      ></a>
      <a href="https://github.com/azizkale" class="github icon-large"
        ><i class="bx bxl-github"></i
      ></a>
    </div>
  </div>
</section>
