<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Mürüvvet e.V.</h1>
    <p>
      <span
        class="typed"
        [attr.data-typed-items]="typedItems.join(', ')"
      ></span>
    </p>
    <div class="social-links">
      <a
        href="https://www.facebook.com/people/M%C3%BCr%C3%BCvvet-eV-die-offene-T%C3%BCr/61574257831671/"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a href="https://x.com/muruvvetgoe">
        <a href="https://x.com/muruvvetgoe"><i class="bx bxl-twitter"></i></a
      ></a>
      <a
        style="margin-left: 7px"
        href="https://www.facebook.com/people/M%C3%BCr%C3%BCvvet-eV-die-offene-T%C3%BCr/61574257831671/"
        ><i class="bx bxl-youtube"></i
      ></a>
    </div>
  </div>
</section>
