<!-- ======= Testimonials (Articles) Section ======= -->
<div
  #swiperContainer
  class="testimonials-slider swiper"
  data-aos="fade-up"
  data-aos-delay="100"
>
  <div class="section-title">
    <h2>Articles</h2>
  </div>

  <div
    class="testimonials-slider swiper"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonial-item">
          <img
            src="assets/img/testimonials/swagger.webp"
            class="testimonial-img"
            alt=""
          />
          <h1>How to implement and use Swagger in Node.js</h1>

          <p>
            Swagger is a set of open-source software tools built around the
            OpenAPI Specification with which we can build, document, and test
            our APIs. You can get more information about Swagger from its web
            site. In this article, I will talk about how to implement Swagger to
            a RESTful web server built with Node.js, Swagger UI and API
            documentation.I will go on to tell assuming that you are familiar
            with Node.js and RESTful API concepts at least at a basic level and
            I will use VS Code as the code editor. Firstly let’s create a
            RESTful web server: ...
            <a
              href="https://medium.com/javascript-in-plain-english/how-to-implement-and-use-swagger-in-nodejs-d0b95e765245"
              target="_blank"
              ><i>more</i></a
            >
          </p>
        </div>
      </div>
      <!-- End testimonial item-->

      <div class="swiper-slide">
        <div class="testimonial-item">
          <img
            src="assets/img/testimonials/springsecurity.jpg"
            class="testimonial-img"
            alt=""
          />
          <h1>Spring Security Without WebSecurity Configurer Adapter</h1>
          <p>
            In the world of securing Java applications, Spring Security acts as
            a strong protector, making sure that applications are safe from
            threats and unauthorized use. Over time, Spring Security has been
            changing to match new security methods and the way developers build
            applications. One big change is that the long-used
            WebSecurityConfigurerAdapter in Spring Security is now being phased
            out. This change is important for developers who want to secure
            their applications. It’s encouraging them to use a new way that fits
            better with how modern applications are developed...
            <a
              href="https://medium.com/javarevisited/spring-security-without-websecurityconfigureradapter-c712b81cc6ed"
              target="_blank"
              rel="noopener noreferrer"
              ><i>more</i></a
            >
          </p>
        </div>
      </div>
      <!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item">
          <img
            src="assets/img/testimonials/chatGPT.webp"
            class="testimonial-img"
            alt=""
          />
          <h1>How to connect ChatGPT with NodeJS</h1>

          <p>
            Artificial Intelligence is one of the popular topic for the people
            now, who are interested in technology. What is that exactly? And
            will it be able to control mankind? Or it can replace Google? This
            questions have no current answers. But we can test it by using the
            opportunity, that OpenAI offers. The application of OpenAI is
            ChatGPT. You can ask to it whatever you wish. Of course, it can’t
            answer all questions and has no idea about the future just like
            Google. But it can write poems, and offer some options depending on
            your questions...
            <a
              href="https://medium.com/javascript-in-plain-english/how-to-connect-chatgpt-with-nodejs-b176ae418c7e"
              target="_blank"
              rel="noopener noreferrer"
              ><i>more</i></a
            >
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonial-item">
          <img
            src="assets/img/testimonials/javaOOP.webp"
            class="testimonial-img"
            alt=""
          />
          <h1>Core Concepts of Object-Oriented Programming-1</h1>

          <p>
            In this article, I’ll talk about important concepts of
            Object-Oriented Programming that are so important to create
            extendable projects. If you are not so familiar with Object-Oriented
            Programming, firstly you may look at some basic concepts of the
            topic in this article. I will use JAVA as the programming language
            and IntelliJ IDEA as the IDE. The topics I’ll describe are
            Inheritance, Polymorphism, Override, The Keyword ”super”,
            Interface...
            <a
              href="https://medium.com/geekculture/core-concepts-of-object-oriented-programming-1-49397c7e0cbe"
              target="_blank"
              ><i>more</i></a
            >
          </p>
        </div>
      </div>
      <!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item">
          <img
            src="assets/img/testimonials/hibernate.webp"
            class="testimonial-img"
            alt=""
          />
          <h1>How to implement Hibernate in Spring Boot</h1>

          <p>
            JDBC (Java Database Connectivity) is an API provided by Java for
            connecting Java applications to relational databases. It allows Java
            applications to interact with various databases using standard SQL
            queries. JDBC bridges Java programming language and databases,
            enabling developers to perform database operations such as
            inserting, updating, deleting, and querying data. It sounds good.
            But it means a lot of code and chances of resource leaks because all
            the work needs to be done manually. At this point, Hibernate comes
            into play. Hibernate is an ORM (Object-Relational Mapping) tool that
            Java provides which is the framework for mapping application domain
            objects to relational database tables...
            <a
              href="https://medium.com/javarevisited/how-to-implement-hibernate-in-spring-boot-69e4f10d0b80"
              target="_blank"
              ><i>more</i></a
            >
          </p>
        </div>
      </div>
      <!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item">
          <img
            src="assets/img/testimonials/typescript.jpg"
            class="testimonial-img"
            alt=""
          />
          <h1>How to Use TypeScript in HTML</h1>
          <p>
            JavaScript is the most common language programmers can use on both
            the front end and back end. However, it’s unclear what type the data
            is in plain JavaScript, as functions, parameters, and variables have
            no type. This makes it difficult to read and maintain projects. If
            you are developing a project with JavaScript and have this kind of
            problem, TypeScript is the most suitable language for solving
            them...
            <a
              href="https://medium.com/javascript-in-plain-english/how-to-use-typescript-in-html-2df0be436d8b"
              target="_blank"
              ><i>more</i></a
            >
          </p>
        </div>
      </div>
      <!-- End testimonial item -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- End Testimonials Section -->
