<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{ data.sectionName }}</h2>
      <div>
        <h5 [innerHTML]="data.sectionDescription"></h5>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch my-1"
        data-aos="zoom-in"
        data-aos-delay="100"
        *ngFor="let article of data.articles"
      >
        <a [href]="article.url" style="color: black">
          <div class="icon-box">
            <div class="icon">
              <img class="img" [src]="article.imgUrl" alt="aziz kale" />
            </div>
            <h4>
              {{ article.title }}
            </h4>
            <p>
              {{ article.preview }} <a [href]="article.url"><i>more</i></a>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
