<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{ data.sectionName }}</h2>
      <div>
        <h5 [innerHTML]="data.sectionDescription"></h5>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch my-1"
        data-aos="zoom-in"
        data-aos-delay="100"
        *ngFor="let article of data.articles"
      >
        <div class="icon-box">
          <div class="icon">
            <img class="img" [src]="article.imgUrl" alt="" srcset="" />
          </div>
          <h4>
            <a [href]="article.url">{{ article.title }}</a>
          </h4>
          <p>
            {{ article.preview }} <a [href]="article.url"><i>more</i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
