<div class="projects-container">
  <h2 class="projects-title">My Projects</h2>
  <div class="projects-grid">
    <div
      class="project-card"
      *ngFor="let project of projects"
      (click)="open(demoModal, project)"
    >
      <img
        [src]="project.image"
        alt="{{ project.name }}"
        class="project-image"
      />
      <div class="project-content text-center">
        <h3 class="project-name">{{ project.name }}</h3>
        <p class="project-description truncate">{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ selectedProject?.name }}
    </h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="project-card">
      <img
        [src]="selectedProject?.image"
        alt="{{ selectedProject?.name }}"
        class="project-image"
      />
      <div class="project-content text-center">
        <p
          class="project-description"
          [innerHTML]="selectedProject?.description"
        ></p>
        <a
          [href]="selectedProject?.link"
          class="project-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          View Project
        </a>
      </div>
    </div>
  </div>
</ng-template>
