<section id="projects" class="services">
  <div class="projects-container">
    <div class="section-title">
      <h2>Projects</h2>

      <h5>
        As a dedicated Full Stack Developer, I take pride in crafting software
        solutions that are both functional and elegant. This section showcases
        some of my software projects, each reflecting my commitment to solving
        complex challenges and delivering impactful solutions. Below, you'll
        find examples of the innovative work I've developed, where technology
        and creativity converge.
      </h5>
    </div>

    <div class="projects-grid">
      <div
        class="project-card"
        *ngFor="let project of projects"
        (click)="open(demoModal, project)"
      >
        <img
          [src]="project.image"
          alt="{{ project.name }}"
          class="project-image"
        />
        <div class="project-content text-center">
          <h3 class="project-name">{{ project.name }}</h3>
          <h5
            class="project-description truncate"
            [innerHTML]="project?.description"
          ></h5>
        </div>
      </div>
    </div>

    <ng-template #demoModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          {{ selectedProject?.name }}
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <div class="project-card">
          <img
            [src]="selectedProject?.image"
            alt="{{ selectedProject?.name }}"
            class="project-image"
          />

          <div class="project-content text-center">
            <div class="date text-end mb-1">
              <i>{{ selectedProject?.date }}</i>
            </div>
            <p
              class="project-description"
              [innerHTML]="selectedProject?.description"
            ></p>

            <div *ngIf="selectedProject?.technologies">
              <h5 class="mt-4">Technical Stack</h5>
              <div class="text-start">
                <p *ngIf="selectedProject?.technologies?.frontend?.length! > 0">
                  <strong>Frontend:</strong>
                  {{ selectedProject?.technologies?.frontend?.join(", ") }}
                </p>
                <p *ngIf="selectedProject?.technologies?.backend?.length! > 0">
                  <strong>Backend:</strong>
                  {{ selectedProject?.technologies?.backend?.join(", ") }}
                </p>
                <p *ngIf="selectedProject?.technologies?.database?.length! > 0">
                  <strong>Database:</strong>
                  {{ selectedProject?.technologies?.database?.join(", ") }}
                </p>
                <p *ngIf="selectedProject?.technologies?.devOps?.length! > 0">
                  <strong>DevOps:</strong>
                  {{ selectedProject?.technologies?.devOps?.join(", ") }}
                </p>

                <p
                  *ngIf="
                    selectedProject?.technologies?.otherSkills?.length! > 0
                  "
                >
                  <strong>Other Skills:</strong>
                  {{ selectedProject?.technologies?.otherSkills?.join(", ") }}
                </p>
              </div>
            </div>
            <a
              [href]="selectedProject?.link"
              class="project-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              View Project
            </a>
            <a
              *ngIf="selectedProject?.githubLink !== ''"
              [href]="selectedProject?.githubLink"
              class="project-link mx-1"
              target="_blank"
              rel="noopener noreferrer"
            >
              View Codes
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
