<section id="skills" class="skills section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{ data.title }}</h2>
      <h5>{{ data.description }}</h5>
    </div>

    <div class="container">
      <div class="row">
        <div
          class="col my-1 text-center"
          *ngFor="let url of data.skills.frontend"
        >
          <img [src]="url" alt="aziz kale" />
        </div>
      </div>
      <div class="row">
        <div
          class="col my-1 text-center"
          *ngFor="let url of data.skills.backend"
        >
          <img [src]="url" alt="aziz kale" />
        </div>
      </div>
      <div class="row">
        <div
          class="col my-1 text-center"
          *ngFor="let url of data.skills.database"
        >
          <img [src]="url" alt="aziz kale" />
        </div>
      </div>
      <div class="row">
        <div
          class="col my-1 text-center"
          *ngFor="let url of data.skills.devops"
        >
          <img [src]="url" alt="aziz kale" />
        </div>
      </div>
    </div>
  </div>
</section>
