.progress-bar {
    width: 0;
    height: 20px;
    margin-bottom: 10px;
    transition: width 2s ease-in-out;
}

@keyframes widthAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.progress-bar {
    animation: widthAnimation 5s ease-in-out;
}

img {
    border-radius: 8px;
    width: auto;
    height: 30px;
}