/* ===== Carousel (tam ekran ve responsive) ===== */
.carousel {
  width: 90vw;
  max-width: 85%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  margin: 5%;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Kontrolleri ortala ve biraz büyüt */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 3rem 3rem;
}

/* Göstergeleri (dots) yukarıya al ve büyüt */
.carousel-indicators {
  /* bottom: 5px; */
}

.carousel-caption {
  bottom: 70px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #007bff;
}

.container {
  text-align: -webkit-center;
}

@media (min-width: 1024px) {
  .carousel-indicators {
    display: none;
  }
}
