<section id="partners" class="testimonials section">
  <div class="container section-title" data-aos="fade-up">
    <h2>unsere Projektpartner</h2>
    <h4>
      Unsere Projektpartner sind engagierte Organisationen und Institutionen,
      die unsere Werte teilen und mit uns gemeinsam an einer offenen,
      nachhaltigen und gemeinnützigen Zukunft arbeiten.
    </h4>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div #testimonialsSwiper class="swiper">
      <div class="swiper-wrapper">
        @for (slider of sliders; track slider.name) {
        <div class="swiper-slide" style="height: 250px">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <h3>{{ slider.name }}</h3>
                  <p>
                    {{ slider.desc }}
                  </p>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <a href="{{ slider.url }}" target="_blank">
                  <img
                    width="150"
                    src="{{ slider.img }}"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
