<div class="container-fluid" id="container">
  <app-header></app-header>

  <div class="container">
    <div class="mt-2">
      <app-hero></app-hero>
    </div>
    <div class="mt-2 p-3">
      <h3>Yalnızlığın Eşiğinde: Kontrolün Kibri mi, Vicdanın Hüznü mü?</h3>
      <div class="text-end">
        <span class=""><b>Yusuf-u Göttingeni</b></span>
      </div>
      <p>
        Bazı insanlar, hayatta yalnızca kendi işlerini yoluna koymakla yetinmez;
        cemiyetin, nesillerin ve hatta insanlık mirasının bir taşıyıcısı
        olduklarını hissederler. Hayatları için harcadıkları emeği, cemiyetin
        ortak iyiliği için de harcamanın vicdani bir borç olduğuna inanırlar.
        Fakat zamanla, bu adanmışlık garip bir yalnızlığa evrilir: Cemiyetin
        ilgisizliğinin ortasında tek başına kalan bir ruhun sessiz yalnızlığı.
      </p>
      <p>Bu yalnızlık acaba hangi kaynaktan beslenir?</p>

      <p>
        Psikolojik açıdan bakıldığında, denetleyici şema gibi bazı yapısal
        dinamikler ve vicdan temelli iradi yaklaşımlar ön plana çıkar. Şema
        terapisine göre, denetleyici kişilik yapısı çocuklukta gelişen "Yüksek
        Standartlar ve Aşırı Eleştiricilik" şeması ile ilişkilidir. Bu bireyler,
        sevgi ve kabulü ancak "doğru yapma" ve "mükemmel olma" şartlarına bağlı
        olarak deneyimlemişlerdir. Hayat onlar için bitmek bilmeyen bir kontrol,
        düzeltme ve üstünlük kurma mücadelesine dönüşür. Bu nedenle hizmet
        ettikleri alanlarda, insanların gevşekliği veya kayıtsızlığı içlerinde
        öfkeye yol açar. "Ben düzgünüm, onlar eksik." algısı, hizmetin
        safiyetini yürekten çıkarır ve egonun sert duvarlarına çarptırır.
      </p>

      <p>
        Öte yandan, hizmeti bir vicdani iradenin sessiz daveti olarak gören
        ruhlar vardır. Onlar için harekete geçmek, kontrol arzusu değil,
        üstlerine yüklenmiş bir emaneti taşıma şuurudur.
      </p>
      <p>
        Bu bilinçle yürürken, insanların ilgisizliğine öfkeyle değil, hüzünle
        yaklaşırlar. Çünkü onlar için hizmet, bir başarı hikâyesi değil; bir
        sadakat imtihanıdır.
      </p>

      <p>
        Hizmette denetleyici eğilim, bazen bireyin hayatındaki güçlü otorite
        figürlerinin (bilhassa baba imajının) bir uzantısı gibi görünür: "Düzgün
        olmalıyım ki değerli olayım." Buna mukabil, hizmeti vicdan merkezli bir
        şuurla yapanlar, dış onay beklentisinden uzaklaşarak yalnızca içsel bir
        sadakate yaslanırlar. Kimsenin alkışlamadığı, kimsenin gözeteceği bir
        menfaati bulunmayan yolda, sadece kendi iç seslerine kulak vererek
        yürürler.
      </p>

      <p>İşte yalnızlığın tonu da buradan belirlenir:</p>

      <p>
        Denetim kaynaklı hizmet yalnızlığı, öfkeye ve kibirli bir geri çekilmeye
        yol açar. Vicdan kaynaklı hizmet yalnızlığı ise hüzne ve tevazunun
        derinleşmesine. Hizmet yolunda yalnızlık, doğal bir eşlikçidir. Fakat
        hangi duyguyla beslendiği, hizmetin ruhunu belirler. Kontrolle büyüyen
        hizmet kibre, vicdanla büyüyen hizmet ise hikmete dönüşür. Yanlış
        kalabalıklar arasında kaybolmaktansa, doğru bir yalnızlıkta derinleşmek
        daha kıymetlidir.
      </p>
    </div>

    <div class="p-1 my-4 bg-gray shadow-sm rounded">
      <app-services></app-services>
    </div>

    <div class="p-1 my-4 bg-gray shadow-sm rounded">
      <app-partners></app-partners>
    </div>

    <div class="p-1 my-4 bg-gray shadow-sm rounded">
      <app-article></app-article>
    </div>

    <div class="p-1 my-4 bg-gray shadow-sm rounded">
      <app-contact></app-contact>
    </div>

    <!-- Bu router-outlet sadece layout içindekiler için çalışır -->
    <router-outlet></router-outlet>
  </div>
</div>
