<div
  class="container-sm my-5 p-4 bg-light rounded shadow-sm border"
  style="max-width: 900px"
>
  <h2 class="mb-4 text-primary">
    Impressum gemäß § 5 DDG (Digitales-Dienste-Gesetz)
  </h2>

  <div class="mb-3">
    <strong>Mürüvvet e. V. – Die offene Tür</strong><br />
    St. Heinrich Str. 22<br />
    37081 Göttingen<br />
    Deutschland
  </div>

  <div class="mb-3">
    <i class="bi bi-telephone-fill text-success"></i>
    <strong>Telefon:</strong>
    <a href="tel:+491636255544" class="link-primary">+49 163 6255544</a><br />
    <i class="bi bi-envelope-fill text-danger"></i>
    <strong>E-Mail:</strong>
    <a href="mailto:muruvvet.goettingen@gmail.com" class="link-primary"
      >muruvvet.goettingen&#64;gmail.com</a
    >
  </div>

  <div class="mb-3">
    <strong>Vertreten durch:</strong><br />
    Celil Erdem (Vorstandsvorsitzender)
  </div>
  <div class="mb-3">
    <strong>Rechtsform:</strong><br />
    Eingetragener Verein (e. V.)
  </div>
  <div class="mb-3">
    <strong>Registergericht:</strong> Amtsgericht Göttingen, VR 202183<br />
  </div>

  <hr />

  <div class="mb-3">
    <h5 class="text-secondary">Haftung für Inhalte</h5>
    <p class="text-muted">
      Als Diensteanbieter sind wir gemäß § 7 Abs. 1 DDG für eigene Inhalte auf
      diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis
      10 DDG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte
      fremde Informationen zu überwachen. Verpflichtungen zur Entfernung oder
      Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
      bleiben hiervon unberührt.
    </p>
  </div>

  <div class="mb-3">
    <h5 class="text-secondary">Haftung für Links</h5>
    <p class="text-muted">
      Unser Angebot enthält Links zu externen Websites Dritter, auf deren
      Inhalte wir keinen Einfluss haben. Für diese fremden Inhalte übernehmen
      wir keine Gewähr.
    </p>
  </div>

  <div class="mb-3">
    <h5 class="text-secondary">Urheberrecht</h5>
    <p class="text-muted">
      Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen
      Seiten unterliegen dem deutschen Urheberrecht.
    </p>
  </div>
</div>
