<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Willkommen bei unserem Verein</h2>
    <h4>
      Wir setzen uns für ein harmonisches Miteinander ein, in dem Vielfalt
      geschätzt und Vorurteile abgebaut werden. Unser Ziel ist es, den
      interkulturellen Dialog zu fördern, Freundschaften zu stärken und Werte
      wie Respekt, Akzeptanz und Toleranz zu leben.
    </h4>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row justify-content-center gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <div class="icon">
            <img
              width="50px"
              src="../../assets/img/education.svg"
              alt="muruvvet_education"
            />
          </div>

          <h5>
            Bildung für alle – Wir unterstützen Schüler*innen, fördern Volks-
            und Berufsbildung und setzen uns für gleiche Chancen ein.
          </h5>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item item-orange position-relative">
          <div class="icon">
            <img
              width="60px"
              src="../../assets/img/equality.svg"
              alt="muruvvet_equality"
            />
          </div>

          <h5>
            Gleichberechtigung – Frauen und Männer sollen die gleichen
            Möglichkeiten haben, sich zu entfalten.
          </h5>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item item-teal position-relative">
          <div class="icon">
            <img
              width="60px"
              src="../../assets/img/immigrant.svg"
              alt="muruvvet_immigrant"
            />
          </div>

          <h5>
            Hilfe für Schutzsuchende – Wir stehen politisch, rassistisch oder
            religiös Verfolgten sowie Geflüchteten zur Seite und helfen bei der
            Integration.
          </h5>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item item-red position-relative">
          <div class="icon">
            <img
              width="60px"
              src="../../assets/img/environment.svg"
              alt="muruvvet_environment"
            />
          </div>
          <h5>
            Nachhaltigkeit im Blick – Wir machen auf lokale und globale
            Umweltprobleme aufmerksam und stärken das Umweltbewusstsein.
          </h5>
        </div>
      </div>
      <!-- End Service Item -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item item-red position-relative">
          <div class="icon">
            <img
              width="90px"
              src="../../assets/img/togetherness.svg"
              alt="muruvvet_dialog"
            />
          </div>
          <h5>
            Gemeinschaft stärken – Wir fördern den interkulturellen Austausch,
            bauen Vorurteile ab und schaffen ein Umfeld des Respekts, der
            Toleranz und des Miteinanders.
          </h5>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>

  <div class="container section-title mt-4" data-aos="fade-up">
    <h3>
      Möchtest du uns kennenlernen oder mitmachen? Wir freuen uns auf dich! 💙
    </h3>
  </div>
</section>
