<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Resume</h2>
      <h5>
        As a highly motivated individual, I thrive on the art of coding. My
        ability to quickly adapt and learn makes me a valuable asset in dynamic
        environments. I excel in maintaining strong concentration levels,
        ensuring precision in every line of code. Collaborating with a team is
        not just a preference but a joy for me, and I find immense pleasure in
        conversing and crafting literature in the language of computers.
        Passionate about the dialogue between humans and machines, I bring
        enthusiasm, focus, and a love for teamwork to every project
      </h5>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Full Stack Developer</h4>
          <h5>2019 - Present</h5>
          <p><em>Freelancer </em></p>
          <ul>
            <li>
              Frontend projects with proficient knowledge in HTML, CSS,
              Bootstrap, and JavaScript libraries and frameworks
            </li>
            <li>
              Scalable, robust REST and GraphQL APIs, and databases using new
              technologies
            </li>
            <li>
              Unit testing with JUnit5 and Mockito in Java backend projects
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Graphic design specialist</h4>
          <h5>2017 - 2019</h5>
          <p><em>Freelancer</em></p>
          <ul>
            <li>
              Utilized InDesign and Illustrator to design and prepare books for
              print
            </li>
            <li>
              Managed graphic design projects and ensured their readiness for
              print
            </li>
            <li>
              Recommended and consulted with clients on the most appropriate
              graphic design
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Salary accountant</h4>
          <h5>2014 - 2017</h5>
          <p><em>Ministry of Education, Elazig/Turkey</em></p>
          <ul>
            <li>Calculation of employees' salaries</li>
            <li>IT support in the office</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Social care worker</h4>
          <h5>2012 - 2014</h5>
          <p><em>Ministry of Family and Social Policy, Ankara/Turkey</em></p>
        </div>
        <div class="resume-item">
          <h4>Mathematics Teacher</h4>
          <h5>2010 - 2012</h5>
          <p><em>Elementary school, Yenirenk, Ankara</em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Aziz Kale</h4>
          <p>
            <em
              >Innovative and deadline-driven Graphic Designer with 3+ years of
              experience designing and developing user-centered digital/print
              marketing material from initial concept to final, polished
              deliverable.</em
            >
          </p>
          <ul>
            <li>Am Schlehdorn 10, 37077 Göttingen, Germany</li>
            <li>(+49) 176-57708936</li>
            <li>azizkale@hotmail.com</li>
          </ul>
        </div>
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>IT-Kurs</h4>
          <h5>2019 - 2021</h5>
          <p>
            <em>
              HTML, CSS, JavaScript, JQuery, Angular, NodeJS, TypeScript, RxJS,
              C#, Git-Github</em
            >
          </p>
        </div>
        <div class="resume-item">
          <h4>German Course</h4>
          <h5>2019 - 2020</h5>
          <p><em> University of Göttingen (IIK e.V.)</em></p>
        </div>
        <div class="resume-item">
          <h4>Bachelor of Science Mathematics</h4>
          <h5>2005 - 2010</h5>
          <p><em> Uludag University, Turkey</em></p>
        </div>
        <h3 class="resume-title">Engagement</h3>
        <div class="resume-item">
          <h4>Volunteer interpreter</h4>
          <h5>2022 - 2023</h5>
          <p><em> Beschäftigungsförderung Göttingen (kAöR) </em></p>
        </div>
        <div class="resume-item">
          <h4>Member of the board</h4>
          <h5>2022 - Present</h5>
          <p><em> Mürüvvet e.V., Göttingen </em></p>
          <ul>
            <li>
              Supporting members in matters of integration and social exchange
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
